/*==================== IMPORTING ROOT CSS VARIABLES ====================*/
@import "./base_styles.css";

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 1rem;
}

.section__title {
  max-width: 1200px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1200px;
  overflow-x: auto;
}

/*========== TABLES ==========*/
table {
  width: 100%; /* Tabelle passt sich an die verfügbare Breite an */
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: var(--first-color);
  color: #ffffff;
  font-weight: bold;
}

td {
  color: var(--title-color);
}

td a {
  color: var(--title-color);
}

tr {
  background-color: var(--container-color);
}

tr:hover {
  filter: brightness(85%);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 768px) {
  .race table th:nth-child(4),
  .race table td:nth-child(4) {
    display: none;
  }
  .driver {
    th:nth-child(1)::before {
      content: "POS";
      margin-left: 5px;
    }
    th:nth-child(2)::before { content: "Driver"; }
    th:nth-child(3)::before { content: "Team"; }
    th:nth-child(4)::before {
      content: "PTS";
      margin-right: 5px;
    }
    th {
      text-indent: -9999px;
      position: relative;
    }
    th::before {
      text-indent: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .constructor {
    th:nth-child(1)::before {
      content: "POS";
      margin-left: 5px;
    }
    th:nth-child(2)::before { content: "Team"; }
    th:nth-child(3)::before {
      content: "PTS";
      margin-right: 5px;
    }
    th {
      text-indent: -9999px;
      position: relative;
    }
    th::before {
      text-indent: 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}