{% extends "base.html" %}

{% block style %}
    <!--==================== CSS ==========-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team_styles.css') }}">
{% endblock %}

{% block menu %}
  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list grid">
        <li class="nav__item">
            <a href="#highlights" class="nav__link active-link">
                <i class="nav__icon"></i> Career Highlights
            </a>
        </li>

        <li class="nav__item">
            <a href="#graphs" class="nav__link">
                <i class="nav__icon"></i> Seasonal Graphs
            </a>
        </li>
    </ul>
    
    <i class="uil uil-times nav__close" id="nav-close"></i>
  </div>         
{% endblock %}

{% block main %}
  <!--==================== CAREER HIGHLIGHTS ====================-->
  <section class="driver section" id="highlights">
    <h2 class="section__title">Career Highlights</h2>

    <div class="about__container container grid">
        <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/team logos/{{ team_id | format_team }}" class="profile_image">
        <div class="career-stats-grid">
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/flag.svg') }}" class="icon-image">
                    <p class="stat-number">{{ team.nationality }}</p>
                  </div>
                  <p class="stat-label">Nationality</p>
                </div>
            </div>
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/trophy.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.first_season }}</p>
                  </div>
                  <p class="stat-label">First Season</p>
                </div>
            </div>
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/medal.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.total_races }}</p>
                  </div>
                  <p class="stat-label">Grand Prix entered</p>
                </div>
            </div> 
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/tachometer.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.wins }}</p>
                  </div>
                  <p class="stat-label">Wins</p>
                </div>
            </div>
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/graph-bar.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.WCC_titles }}</p>
                  </div>
                  <p class="stat-label">World Constructor<br>Championships</p>
                </div>
            </div>    
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/stopwatch.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.WDC_titles }}</p>
                  </div>
                  <p class="stat-label">World Driver<br>Championships</p>
                </div>
            </div>    
        </div>
    </div>
  </section>

  <!--==================== SEASONAL GRAPHS ====================-->
  <section class="section" id="graphs">
    <h2 class="section__title">Seasonal Graphics</h2>
    <div class="seasonal-graphics">
      <img src="/static/svg/championship/constructor_championship_{{ year }}.svg" class="">
      <img src="/static/svg/championship/driver_championship_{{ year }}.svg" class="">
    </div>
  </section>
{% endblock %}