{% extends "base.html" %}

{% block style %}
    <!--==================== CSS ==========-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/driver_styles.css') }}">
{% endblock %}

{% block menu %}
  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list grid">
        <li class="nav__item">
            <a href="#highlights" class="nav__link active-link">
                <i class="nav__icon"></i> Career Highlights
            </a>
        </li>

        <li class="nav__item">
            <a href="#lifetime" class="nav__link active-link">
                <i class="nav__icon"></i> Lifetime Statistics
            </a>
        </li>

        <li class="nav__item">
            <a href="#seasonal" class="nav__link">
                <i class="nav__icon"></i> Seasonal Statistics
            </a>
        </li>

        <li class="nav__item">
            <a href="#graphs" class="nav__link">
                <i class="nav__icon"></i> Seasonal Graphs
            </a>
        </li>
    </ul>
    
    <i class="uil uil-times nav__close" id="nav-close"></i>
  </div>         
{% endblock %}

{% block main %}
  <!--==================== CAREER HIGHLIGHTS ====================-->
  <section class="driver section" id="highlights">
    <h2 class="section__title">Career Highlights</h2>

    <div class="about__container container grid">
        <img src="https://media.formula1.com/image/upload/content/dam/fom-website/drivers/2024Drivers/{{ driver_id | lastname }}" class="profile_image">
        <div class="career-stats-grid">
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/flag.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.total_races }}</p>
                  </div>
                  <p class="stat-label">Grand Prix raced</p>
                </div>
            </div>
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/trophy.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.championships }}</p>
                  </div>
                  <p class="stat-label">Championships</p>
                </div>
            </div>
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/medal.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.wins }}</p>
                  </div>
                  <p class="stat-label">Wins</p>
                </div>
            </div>    
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/graph-bar.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.podiums }}</p>
                  </div>
                  <p class="stat-label">Podiums</p>
                </div>
            </div>    
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/stopwatch.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.pole_positions }}</p>
                  </div>
                  <p class="stat-label">Pole Positions</p>
                </div>
            </div>    
            
            <div class="stat-box">
                <div class="stat-box-inner">
                  <div class="stat-top">
                    <img src="{{ url_for('static', filename='svg/icons/tachometer.svg') }}" class="icon-image">
                    <p class="stat-number">{{ career_stats.fastest_laps }}</p>
                  </div>
                  <p class="stat-label">Fastest Laps</p>
                </div>
            </div>
        </div>
    </div>
  </section>

  <!--==================== LIFETIME STATISTICS ====================-->
  <section class="section" id="lifetime">
    <h2 class="section__title">Lifetime Statistics</h2>

    <div class="about__container container grid">
      <div class="stats-grid">
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/flag.svg') }}" class="icon-image">
                  <p class="stat-number">{{ career_stats.total_races }}</p>
                </div>
                <p class="stat-label">Grand Prix raced</p>
              </div>
          </div>
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/trophy.svg') }}" class="icon-image">
                  <p class="stat-number">{{ age }}</p>
                </div>
                <p class="stat-label">Alter</p>
              </div>
          </div>
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/medal.svg') }}" class="icon-image">
                  <p class="stat-number">{{ career_stats.runner_up }}</p>
                </div>
                <p class="stat-label">Vice Championships</p>
              </div>
          </div>    
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/graph-bar.svg') }}" class="icon-image">
                  <p class="stat-number">{{ career_stats.wins }}</p>
                </div>
                <p class="stat-label">Wins</p>
              </div>
          </div>    
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/stopwatch.svg') }}" class="icon-image">
                  <p class="stat-number">{{ career_stats.podiums }}</p>
                </div>
                <p class="stat-label">Podiums</p>
              </div>
          </div>    
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/tachometer.svg') }}" class="icon-image">
                  <p class="stat-number">{{ career_stats.p2_finishes }}</p>
                </div>
                <p class="stat-label">P2 Finishes</p>
              </div>
          </div>

          <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/flag.svg') }}" class="icon-image">
                <p class="stat-number">{{ career_stats.p3_finishes }}</p>
              </div>
              <p class="stat-label">P3 Finishes</p>
            </div>
        </div>
        
        <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/trophy.svg') }}" class="icon-image">
                <p class="stat-number">{{ career_stats.outside_top10 }}</p>
              </div>
              <p class="stat-label">Outside the Top10</p>
            </div>
        </div>
        
        <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/medal.svg') }}" class="icon-image">
                <p class="stat-number">{{ career_stats.wins }}</p>
              </div>
              <p class="stat-label">Wins</p>
            </div>
        </div>    
        
        <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/graph-bar.svg') }}" class="icon-image">
                <p class="stat-number">{{ career_stats.podiums }}</p>
              </div>
              <p class="stat-label">Podiums</p>
            </div>
        </div>    
        
        <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/stopwatch.svg') }}" class="icon-image">
                <p class="stat-number">{{ career_stats.pole_positions }}</p>
              </div>
              <p class="stat-label">Pole Positions</p>
            </div>
        </div>    
        
        <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/tachometer.svg') }}" class="icon-image">
                <p class="stat-number">{{ career_stats.fastest_laps }}</p>
              </div>
              <p class="stat-label">Fastest Laps</p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!--==================== SEASONAL STATISTICS ====================-->
  <section class="section" id="seasonal">
    <h2 class="section__title">Seasonal Statistics</h2>

    <div class="about__container container grid">
      <div class="stats-grid">
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/flag.svg') }}" class="icon-image">
                  <p class="stat-number">{{ seasonal_stats.races_participated }}</p>
                </div>
                <p class="stat-label">Grand Prix raced</p>
              </div>
          </div>
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/trophy.svg') }}" class="icon-image">
                  <p class="stat-number">{{ seasonal_stats.championship_position }}</p>
                </div>
                <p class="stat-label">Position</p>
              </div>
          </div>
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/medal.svg') }}" class="icon-image">
                  <p class="stat-number">{{ seasonal_stats.points }}</p>
                </div>
                <p class="stat-label">Points</p>
              </div>
          </div>    
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/graph-bar.svg') }}" class="icon-image">
                  <p class="stat-number">{{ seasonal_stats.wins }}</p>
                </div>
                <p class="stat-label">Wins</p>
              </div>
          </div>    
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/stopwatch.svg') }}" class="icon-image">
                  <p class="stat-number">{{ seasonal_stats.podiums }}</p>
                </div>
                <p class="stat-label">Podiums</p>
              </div>
          </div>    
          
          <div class="stat-box">
              <div class="stat-box-inner">
                <div class="stat-top">
                  <img src="{{ url_for('static', filename='svg/icons/tachometer.svg') }}" class="icon-image">
                  <p class="stat-number">{{ seasonal_stats.pole_positions }}</p>
                </div>
                <p class="stat-label">Pole Positions</p>
              </div>
          </div>

          <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/flag.svg') }}" class="icon-image">
                <p class="stat-number">{{ seasonal_stats.fastest_laps }}</p>
              </div>
              <p class="stat-label">Fastest Laps</p>
            </div>
        </div>
        
        <div class="stat-box">
            <div class="stat-box-inner">
              <div class="stat-top">
                <img src="{{ url_for('static', filename='svg/icons/trophy.svg') }}" class="icon-image">
                <p class="stat-number">{{ seasonal_stats.dnfs }}</p>
              </div>
              <p class="stat-label">DNFs</p>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!--==================== SEASONAL GRAPHS ====================-->
  <section class="section" id="graphs">
    <h2 class="section__title">Seasonal Graphics</h2>
    <div class="seasonal-graphics">
      <img src="/static/svg/championship/driver_championship_{{ year }}.svg" class="">
      <img src="/static/svg/drivers/{{ driver_id }}_{{ year }}.png" class="">
    </div>
  </section>
{% endblock %}