<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--==================== UNICONS ====================-->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

        <!--==================== CSS ==========-->
        <link rel="stylesheet" href="static/styles/styles.css">

        <title>F1 Website</title>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav__logo">Formel 1 Saison 2024</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list grid">
                        <li class="nav__item">
                            <a href="#drivers" class="nav__link active-link">
                                <i class="nav__icon"></i> Driver Standings
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#constructors" class="nav__link">
                                <i class="nav__icon"></i> Constructor Standings
                            </a>
                        </li>

                        <li class="nav__item">
                            <a href="#races" class="nav__link">
                                <i class="nav__icon"></i> Race Dates
                            </a>
                        </li>
                    </ul>
                    
                    <i class="uil uil-times nav__close" id="nav-close"></i>
                </div>

                <div class="nav__btns">
                    <!-- Theme change button -->
                    <i class="uil uil-moon change-theme" id="theme-button"></i>

                    <div class="nav__toggle" id="nav-toggle">
                        <i class="uil uil-apps"></i>
                    </div>
                </div>
            </nav>
        </header>

        <!--==================== MAIN ====================-->
        <main class="main">
            <!--==================== Drivers ====================-->
            <section class="about section" id="drivers">
                <h2 class="section__title">Driver Standings</h2>
                

            </section>

            <!--==================== Constructors ====================-->
            <section class="about section" id="constructors">
                <h2 class="section__title">Constructor Standings</h2>

                
            </section>

            <!--==================== Races ====================-->
            <section class="skills section" id="races">
                <h2 class="section__title">Race Dates</h2>

                
            </section>
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer">
            <div class="footer__bg">
                <div class="footer__container container grid">
                    <div>
                        <h1 class="footer__title">F1 Statistics</h1>
                        <span class="footer__subtitle">General Engineering Student</span>
                    </div>

                    <ul class="footer__links">
                        <li>
                            <a href="#about" class="footer__link">Driver Standings</a>
                        </li>
                        <li>
                            <a href="#qualifications" class="footer__link">Constructor Standings</a>
                        </li>
                        <li>
                            <a href="#portfolio" class="footer__link">Race Dates</a>
                        </li>
                    </ul>
                </div>

                <p class="footer__copy">
                    &#169; 2024 - <a id="year"></a> Tim Fuhrmann. All rights reserved
                </p>
            </div>
        </footer>

        <!--========== SCROLL TOP ==========-->
        <a href="#" class="scrollup" id="scroll-top">
            <i class="uil uil-arrow-up scrollup__icon"></i>
        </a>

        <!--==================== MAIN JS ====================-->
        <script src="static/js/script.js"></script>
    </body>
</html>