{% extends "base.html" %}

{% block style %}
    <!--==================== CSS ==========-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
{% endblock %}

{% block menu %}
    <div class="nav__menu" id="nav-menu">
        <ul class="nav__list grid">
            <li class="nav__item">
                <a href="#drivers" class="nav__link active-link">
                    <i class="nav__icon"></i> Driver Standings
                </a>
            </li>

            <li class="nav__item">
                <a href="#constructors" class="nav__link">
                    <i class="nav__icon"></i> Constructor Standings
                </a>
            </li>

            <li class="nav__item">
                <a href="#races" class="nav__link">
                    <i class="nav__icon"></i> Race Dates
                </a>
            </li>
        </ul>
        
        <i class="uil uil-times nav__close" id="nav-close"></i>
    </div>
{% endblock %}

{% block main %}
    <!--==================== Drivers ====================-->
    <section class="driver section" id="drivers">
        <h2 class="section__title">Driver Standings</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Platz</th>
                        <th>Name</th>
                        <th>Team</th>
                        <th>Punkte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for driver in driver_standings %}
                    <tr>
                        <td>{{ driver.position }}</td>
                        <td>
                            <a href="/driver/{{ driver.Driver.driverId }}">
                                {{ driver.Driver.givenName }} {{ driver.Driver.familyName }}
                            </a>
                        </td>
                        <td>{{ driver.Constructors[0].name }}</td>
                        <td>{{ driver.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
      

    <!--==================== Constructors ====================-->
    <section class="constructor section" id="constructors">
        <h2 class="section__title">Constructor Standings</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Platz</th>
                        <th>Team</th>
                        <th>Punkte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in constructor_standings %}
                    <tr>
                        <td>{{ team.position }}</td>
                        <td>
                            <a href="/team/{{ team.Constructor.constructorId }}">
                                {{ team.Constructor.name }}
                            </a>
                        </td>
                        <td>{{ team.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <!--==================== Races ====================-->
    <section class="race section" id="races">
        <h2 class="section__title">Race Dates</h2>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Runde</th>
                        <th>Grand Prix</th>
                        <th>Datum</th>
                        <th>Ort</th>
                    </tr>
                </thead>
                <tbody>
                    {% for race in race_schedule %}
                    <tr>
                        <td>{{ race.round }}</td>
                        <td>{{ race.raceName }}</td>
                        <td>{{ race.date }}</td>
                        <td>{{ race.Circuit.circuitName }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}